/* Push body down below the navbar */
body {
  padding-top: 70px;
}

@import "compass/css3/images";
.backdrop {
  @include background(url('/images/background.png') no-repeat);
  position: fixed;
  top: 50px;
  height: 100%;
  width: 1140px;
  z-index: -1;
}

/* Prevent flicker when the app is starting by not showing cloaked items */
[ng-cloak], .ng-cloak {
  display: none !important;
}

// Additional styles (these partials should be based on Bootstrap vars
@import "elements/alert";
@import "elements/tab_pane";

// Animations
@import "animations/fades";
@import "animations/bounces";
@import "animations/slides";
