# Ignore all logfiles and tempfiles.
.tmp
.sass-cache
*.swp
dist
/views
public
node_modules
app/bower_components

# Ignore documentation
/.yardoc
/doc
/test/coverage/results.html

# Ignore sensitive config
/lib/config/secrets
