<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarController">
  <div class="container">
    <!--When our view is too small, all the menus and things collapse down to this button-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="toggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">hMedia</a>
    </div><!--/.navbar-header-->

    <div class="collapse navbar-collapse" ng-class="{in:!navCollapsed}" ng-click="collapseMenu()">
      <styler></styler>

      <!--User is signed in, show menu-->
      <div ng-show="isSignedIn()">
        <ul class="nav navbar-nav">
          <li><a href="/dashboard">Dashboard</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle">View Library <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/creators">by Creator</a></li>
              <li><a href="/collections">by Collection</a></li>
              <li><a href="/media">by Media</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Admin</li>
              <li><a href="/archives">by Archive</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="btn btn-link" href="/settings">{{currentUser()}}</a></li>
          <li><a class="btn btn-link" ng-click="logout()">Log out</a></li>
        </ul>
      </div>

      <!--User is not signed in, show sign in controls-->
      <div ng-hide="isSignedIn()">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="auth.sign_in">Log in</a></li>
          <li><a ui-sref="auth.register">Register</a></li>
        </ul>
      </div>

    </div><!--/.navbar-collapse-->
  </div>
</nav>
