.quickfade.ng-leave {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.quickfade.ng-leave.ng-leave-active {
  opacity: 0;
}

.quickfade.ng-enter {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  opacity: 0;
}

.quickfade.ng-enter.ng-enter-active {
  opacity: 1;
}
