<!doctype html>
<html class="no-js" ng-app="hMediaApp" ng-controller="styleController"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>hMedia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <link rel="stylesheet" href="/styles/bootstrap.standard.css" ng-href="{{currentStylesheet()}}" />
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <noscript><p>This site will not function without JavaScript.  If you have disabled it, please re-enable it and refresh your browser.</p></noscript>

    <!--div ng-include="'partials/notifications'"></div-->
    <navbar></navbar>

    <!-- The main application view -->
    <main class="container">
      <div class="backdrop" ng-cloak></div>
      <section ui-view></section>
    </main>

    <!-- build:js({.tmp,app}) scripts/vendor.js -->
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/application.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/directives/styler.js"></script>
    <script src="scripts/directives/dropdown.js"></script>
    <script src="scripts/directives/navbar.js"></script>
    <script src="scripts/directives/tabs.js"></script>
    <!-- endbuild -->
  </body>
</html>
